* {
    font-family: "Nanum Gothic", sans-serif;
    font-style: normal;
    box-sizing: border-box;

}

:link,
:visited {
    list-style: none;
    color: #000000;
    text-decoration: none;
}

.nav_title {
    font-size: 30px;
}

.nav_contents {
    background-color: #f5f5dc;
    height: 100px;
}

.nav_menu {
    width: 960px;
    margin: 0px auto;
    line-height: 50px;

}

.nav_title {
    float: left;
}

.nav_btn {
    float: right;
}

ul.nav_btn>li {
    list-style-type: none;
    display: inline;
    margin: 15px;
}

.nav::after {
    content: "";
    display: block;
    clear: both;
}